<div class="mx-auto w-3/4">
  <h2 class="text-center border border-2 border-dashed border-gray-500 rounded font-source-serif-pro text-[1.5rem] text-[#500000] mb-4">Edit Notes for <%= @student.firstname %></h2>
  <%= form_for [@student, @note] do |f| %>
    <div class="font-source-serif-pro px-6 py-4 rounded drop-shadow bg-white mb-4">
      <div class="col-span-4">
        <%= f.label :content, style: "display: block", class: "mb-1" %>
        <%= f.text_area :content, class: "mb-2 rounded bg-gray-100 border-gray-300 w-full overflow-x-scroll", style: "padding: 10px; height: 150px;" %>
      </div>

      <div class="flex justify-center">
        <div class="text-center p-2 w-1/4 font-source-serif-pro mt-2 mb-2 rounded border-2 border-[#500000] hover:bg-[#ca8484] bg-[#DBABAB]">
          <%= f.submit 'Save Note' %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="mx-auto w-3/4">
    <div class="flex justify-center my-4">
      <div class="mr-4 font-source-serif-pro font-semibold hover:bg-gray-300 text-[#500000] text-[1rem] hover:underline hover:underline-offset-4 py-1 px-3 border-2 rounded border-dotted border-[#500000]">
        <%= button_to "Back to Student Profile", @student, :method => :get  %>
      </div>
      <div class="font-source-serif-pro font-semibold hover:bg-gray-300 text-[#500000] text-[1rem] hover:underline hover:underline-offset-4 py-1 px-3 border-2 rounded border-dotted border-[#500000]">
        <%= button_to "Back to Student List", students_path, :method => :get %>
      </div>
    </div>
  </div>
</div>