<div class="flex flex-col justify-center mx-auto w-3/4 rounded">
  <h1 class="mx-auto px-5 py-2 text-center w-full my-2 border border-2 border-dashed border-gray-500 rounded font-source-serif-pro text-[1.5rem] text-[#500000]">Editing Student</h1>

  <%= render "form", course: @student %>
</div>

<div class="bg-white w-3/4 flex justify-center mx-auto rounded-lg">
    <table class="rounded-lg mx-auto w-5/6 mt-4 mb-6 table table-striped table-hover text-center">
        <thead>
            <tr class="bg-slate-400 font-medium font-source-serif-pro">
                <th class="rounded-tl-lg px-auto py-2"> Course Name: </th>
                <th class="border-l-[0.05rem] border-r-[0.05rem] px-1 py-2"> Section: </th>
                <th class="border-l-[0.05rem] border-r-[0.05rem] px-0 py-2"> Semester: </th>
                <th class="border-r-[0.05rem] px-auto py-2"> Grade: </th>
                <th> </th>
                <th class="rounded-tr-lg"> </th>
            </tr>
        </thead>    
        <tbody>
            <% @student_course_records.each do |student_course_record| %>
                <tr class="even:bg-gray-100 odd:bg-gray-200 hover:bg-gray-300">
                    <td class="p-6 font-source-serif-pro font-light">
                        <%# <strong>Course:</strong> %>
                        <%= student_course_record.course_record.course_name %>
                    </td>
                    <td class="p-6 font-source-serif-pro font-light">
                        <%# <strong>Section:</strong> %>
                        <%= student_course_record.course_record.section %>
                    </td>

                    <td class="p-6 font-source-serif-pro font-light">
                        <%# <strong>Semester:</strong> %>
                        <%= student_course_record.course_record.semester %>
                    </td>
                    <%= form_with(model: student_course_record.student_record) do |form| %>
                    <td>
                        <%# <strong>Grade:</strong> %>
                        <%= form.text_field :final_grade, pattern: '\b[ABCDFQSU]?\b', title: "Letter Grade should be a single letter. Possible grades: A, B, C, D, F, Q, S, U"%>
                    </td>

                    <td class="p-6 font-source-serif-pro font-semibold">
                        <%= form.submit "Update Grade", class: "hover:underline hover:underline-offset-4 hover:cursor-pointer"%>
                    </td>
                    <% end %>
                    <td class="p-6 font-source-serif-pro font-semibold">
                        <%= button_to "Delete this course of student", student_course_path(:id=>student_course_record.student_record.id), method: :delete, class: "hover:underline hover:underline-offset-4 hover:cursor-pointer" %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<footer class="flex flex-row w-1/2 justify-center mx-auto hd footer mt-4 text-center mb-6">
    <div class="flex justify-between">
        <div class="mr-4 font-source-serif-pro font-semibold hover:bg-gray-300 text-[#500000] text-[1rem] hover:underline hover:underline-offset-4 py-1 px-3 border-2 rounded border-dotted border-[#500000]">
          <%= button_to "Back to Student Profile", @student, :method=>:get  %>
        </div>
        <div class="font-source-serif-pro font-semibold hover:bg-gray-300 text-[#500000] text-[1rem] hover:underline hover:underline-offset-4 py-1 px-3 border-2 rounded border-dotted border-[#500000]">
            <%= button_to "Back to Student List", students_path, :method => :get %>
        </div>
    </div>
</footer>